<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ahmedabad</title>
</head>
<body>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div>
        <p>Ahmedabad is the largest city in the State of Gujarat and the Seventh- largest urban agglomeration in India, with a population of almost 74 lakhs (7.4 Million). City is Located on the banks of the River Sabarmati.</p>
        <img class="img" src="{% static 'images/ahm.jpeg' %}">
    </div>
</body>
</html>