<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Argentina</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <div>
        <p>It encompasses immense plains, deserts, tundra, and forests, as well as tall mountains, rivers, and thousands of miles of ocean shoreline. Argentina also claims a portion of Antarctica, as well as several islands in the South Atlantic, including the British-ruled Falkland Islands (Islas Malvinas).</p>
        <img class="img" src="{% static 'images/argen.jpg' %}">
  </div>
</body>
</html>