<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gandhinagar</title>
</head>
<body>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div>
        <p>Gandhinagar was named for Mohandas K. Gandhi, leader of the Indian nationalist movement. Built to supplant Ahmadabad as capital, the city was begun in 1966. State government offices were transferred to Gandhinagar in 1970, and the city subsequently became a commercial and cultural centre in Gujarat.</p>
        <img class="img" src="{% static 'images/gandhinagar.jpg' %}">
    </div>
</body>
</html>