<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Germany</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <div>
        <p>Germany's central and southern regions have forested hills and mountains cut through by the Danube, Main, and Rhine river valleys. In the north, the landscape flattens out to a wide plain that stretches to the North Sea. Between these extremes, Germany is a country of incredible variety.</p>
        <img class="img" src="{% static 'images/germany.jpeg' %}">
    </div>
</body>
</html>