<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>India</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <div>
        <p>India represents “Unity in Diversity” . Our country is a mixture of cultures, regions, traditions, diversity in food, languages, etc. Our people of India are so polite, understanding and helping in nature. The national bird of India is Peacock and is very beautiful.</p>
        <img class="img" src="{% static 'images/india.jpeg' %}">
    </div>
</body>
</html>