<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rajkot</title>
</head>
<body>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div>
        <p>Rajkot is the 26th largest city in India and the 22nd fastest-growing urban area in the world. Rajkot was the capital of Saurashtra state from 15 April 1948 to 31 October 1956 before merging in bilingual Bombay State on 1 November 1956. Rajkot was merged into Gujarat State from bilingual Bombay state on 1 May 1960.</p>
        <img class="img" src="{% static 'images/rajkot.jpeg' %}">
    </div>
</body>
</html>