<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Russia</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <div>
        <p>Siberia, which occupies three-quarters of Russia, is dominated by sprawling pine forests called taigas. Russia has about 100,000 rivers, including some of the longest and most powerful in the world. It also has many lakes, including Europe's two largest: Ladoga and Onega.</p>
        <img class="img" src="{% static 'images/russia.jpg' %}">
    </div>
</body>
</html>