<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surat</title>
</head>
<body>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div>
        <p>Surat is one of the cleanest city of India and is also known by several other names like “THE SILK CITY”, “THE DIAMOND CITY”, “THE GREEN CITY”, etc. It has the most vibrant present and an equally varied heritage of the past. It is the city where the British first land in India.</p>
        <img class="img" src="{% static 'images/surat.jpeg' %}">
    </div>
</body>
</html>