<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>United Kingdom</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
     <div>
        <p>The biggest part of the United Kingdom (also called the U.K.) is the island of Great Britain, which is made up of England, Wales, and Scotland. The U.K. also includes Northern Ireland, which is on another island.</p>
        <img class="img" src="{% static 'images/uk.jpeg' %}">
    </div>
</body>
</html>