<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>United States of America</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <div>
        <p>The United States is a democratic republic. That means every American adult gets a vote, and those voters choose people to represent them in government. The government is based on the US Constitution, which guarantees Americans legal rights enforced by the courts. America also has lots of symbols for itself.</p>
        <img class="img" src="{% static 'images/usa.jpeg' %}">
    </div>
</body>
</html>