.h1 {
    color: red;
}
.img {
  border-radius: 4%;
  border: 1px solid #ddd;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    font-size: 30px;
    font-family: "Times New Roman";
    color: black;
    font-style: oblique;
}